In [15]:
import pandas as pd
df= pd.read_csv("../data/alab_synthesis_data/synthesis_and_predictions_new_test.csv")

In [3]:
df.columns

Index(['Name', 'FW ID', 'XRD DARA RWP', 'DARA Phases', 'Weight fraction',
       'Search Results', 'Grouped Phases', 'Run Name in ALAB', 'Target',
       'Precursors', 'Temperature (C)', 'Dwell Duration (h)', 'Furnace.1',
       'Missing peaks', 'Extra peaks', 'Max Intensity', 'Standardized_Name',
       'extra_peaks', 'missing_peaks', 'Run Name in ALAB.1', 'Target.1',
       'Precursors.1', 'Temperature (C).1', 'Dwell Duration (h).1', 'Furnace'],
      dtype='object')

In [4]:
# Filter rows where Target and Target.1 differ (excluding NaNs)
mismatch_df = df[df["Target"] != df["Target.1"]]

# Drop NaN comparisons if needed
# mismatch_df = df[~(df["Target"] == df["Target.1"]) & ~(df["Target"].isna() & df["Target.1"].isna())]

# Print names and mismatching targets
print("\nüîç Rows where 'Target' and 'Target.1' differ:")
print(mismatch_df[["Name", "Target", "Target.1"]].to_string(index=False))

# Print count
print(f"\nTotal mismatches: {len(mismatch_df)}")

üîç Rows where 'Target' and 'Target.1' differ:
         Name  Target Target.1
      TRI-106 Na1V1C1    NaVO2
       TRI-93    KVO3    NaVO2
       TRI-94   NaVO3     KVO2
      TRI-105 Ca1V2C1   CaV2O3
 TRI-104-REDO Ca1V2C1   CaV2O3
      TRI-104 Ca1V2C1   CaV2O3
 TRI-103-REDO Ca1V1C1    CaVO2
      TRI-103 Ca1V1C1    CaVO2
      TRI-134  CaV2O3   CaV2O6
      TRI-139   NaVO2    NaVO3
      TRI-138   NaVO2    NaVO3
      TRI-137   NaVO2    NaVO3
      TRI-136  CaV2O3   CaV2O6
      TRI-135  CaV2O3   CaV2O6
      TRI-150     NaN    NaVO2
      TRI-148     NaN    NaVO2
      TRI-149     NaN   CaV2O3
      TRI-147     NaN   CaV2O3
TRI-180_heat1     NaN   CaRuO4
      TRI-181  NaV2O3   MgV2O4
        TRI-1 LiAg3O4  Ca3RuO6
        TRI-1 LiAg3O4   CaRuO4
        TRI-1 LiAg3O4  MgRu2O6
        TRI-1 LiAg3O4   MgRuO4
       TRI-59   K4VO8    KV4O8

Total mismatches: 25

In [7]:
mismatch_df = df[df["Target"] != df["Target.1"]]

# Drop NaN comparisons if needed
# mismatch_df = df[~(df["Target"] == df["Target.1"]) & ~(df["Target"].isna() & df["Target.1"].isna())]

# Print names and mismatching targets
print("\nüîç Rows where 'Target' and 'Target.1' differ:")
print(mismatch_df[["Name", "Furnace", "Furnace.1"]].to_string(index=False))

# Print count
print(f"\nTotal mismatches: {len(mismatch_df)}")

üîç Rows where 'Target' and 'Target.1' differ:
         Name Furnace  Furnace.1
      TRI-106   TF-Ar        NaN
       TRI-93   TF-Ar        NaN
       TRI-94   TF-Ar        NaN
      TRI-105   TF-Ar        NaN
 TRI-104-REDO   TF-Ar        NaN
      TRI-104   TF-Ar        NaN
 TRI-103-REDO   TF-Ar        NaN
      TRI-103   TF-Ar        NaN
      TRI-134      BF        NaN
      TRI-139      BF        NaN
      TRI-138      BF        NaN
      TRI-137      BF        NaN
      TRI-136      BF        NaN
      TRI-135      BF        NaN
      TRI-150   TF-Ar        NaN
      TRI-148   TF-Ar        NaN
      TRI-149   TF-Ar        NaN
      TRI-147   TF-Ar        NaN
TRI-180_heat1      BF        NaN
      TRI-181      BF        NaN
        TRI-1      BF        NaN
        TRI-1      BF        NaN
        TRI-1      BF        NaN
        TRI-1      BF        NaN
       TRI-59      BF        NaN

Total mismatches: 25

In [16]:
columns_to_update = ['Target', 'Precursors', 'Temperature (C)', 'Dwell Duration (h)']

for col in columns_to_update:
    col_1 = f"{col}.1"
    if col_1 in df.columns:
        df[col] = df[col_1]  # Replace values in base column with those from `.1` version

# Optionally drop the `.1` columns afterward
extra_columns_to_drop = [f"{col}.1" for col in columns_to_update] + ["Run Name in ALAB.1", "Furnace.1"]
df.drop(columns=extra_columns_to_drop, inplace=True)

# (Optional) Save back to CSV
df.to_csv("../data/alab_synthesis_data/synthesis_TRI.csv", index=False)

In [17]:
new_df = pd.read_csv("../data/alab_synthesis_data/synthesis_TRI.csv")
new_df

,Name,FW ID,XRD DARA RWP,DARA Phases,Weight fraction,Search Results,Grouped Phases,Run Name in ALAB,Target,Precursors,Temperature (C),Dwell Duration (h),Missing peaks,Extra peaks,Max Intensity,Standardized_Name,extra_peaks,missing_peaks,Furnace
0,TRI-85,1433,9.73,['NaO2_58_(icsd_26583)-0'],{'NaO2_58_(icsd_26583)-0': 1.0},"[dict_keys(['NaO2_58_(icsd_26583)-0']), dict_k...","[[[[{'Na': 1.0, 'O': 2.0}, ['NaO2_58_(icsd_265...",TRI-85,NaVO2,"['Na2CO3', 'V2O5']",500,12.0,"[(9.959401758262777, 42.782629077196155), (13....","[(38.83269031337191, 28.848477692566064), (37....",2772.0,TRI_85,[],[],TF-Ar
1,TRI-87,767,18.04,['Ca2V2O7_2_(icsd_421266)-0'],{'Ca2V2O7_2_(icsd_421266)-0': 1.0},[dict_keys(['Ca2V2O7_2_(icsd_421266)-0'])],"[[[[{'Ca': 2.0, 'V': 2.0, 'O': 7.0}, ['Ca2V2O7...",TRI-87,CaVO2,"['CaCO3', 'V2O5']",700,12.0,"[(10.828696358104068, 72.85791878862644), (13....","[(27.193485373926922, 64.25138644339468), (43....",5460.0,TRI_87,[],[],TF-Ar
2,TRI-81,853,4.93,"['LiV3O8_11_(icsd_16689)-0', 'Li2CO3_15_(icsd_...",{'LiV3O8_11_(icsd_16689)-0': 0.844741039792020...,"[dict_keys(['LiV3O8_11_(icsd_16689)-0', 'Li2CO...","[[[[{'Li': 1.0, 'V': 3.0, 'O': 8.0}, ['LiV3O8_...",TRI-81,LiVO2,"['Li2CO3', 'V2O5']",400,12.0,"[(18.991875609234658, 86.65039245582989), (26....",[],9776.0,TRI_81,[],[],TF-Ar
3,TRI-95,840,5.88,"['CaCO3_167_(icsd_166364)-0', 'RuO2_136_(icsd_...",{'CaCO3_167_(icsd_166364)-0': 0.65033683330236...,"[dict_keys(['CaCO3_167_(icsd_166364)-0', 'RuO2...","[[[[{'Ca': 1.0, 'C': 1.0, 'O': 3.0}, ['CaCO3_1...",TRI-95,Ca3RuO6,"['CaCO3', 'RuO2']",500,1.0,[],[],31342.0,TRI_95,[],[],BF
4,TRI-98,836,9.46,"['RuO2_136_(icsd_84618)-0', 'CaCO3_167_(icsd_1...",{'RuO2_136_(icsd_84618)-0': 0.5847773049252137...,"[dict_keys(['RuO2_136_(icsd_84618)-0', 'CaCO3_...","[[[[{'Ru': 1.0, 'O': 2.0}, ['RuO2_136_(icsd_84...",TRI-98,CaRuO4,"['CaCO3', 'RuO2']",500,24.0,"[(23.058913901019007, 407.89250521933803), (32...",[],13111.0,TRI_98,[],[],BF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,TRI_196,1307,6.05,"['CaV2O6_12_(icsd_21064)-0', 'C_12_(icsd_12711...",{'CaV2O6_12_(icsd_21064)-0': 0.882899971923385...,"[dict_keys(['CaV2O6_12_(icsd_21064)-0', 'C_12_...","[[[[{'Ca': 1.0, 'V': 2.0, 'O': 6.0}, ['CaV2O6_...",TRI-196,CaV2O3,"['CaCO3', 'V2O5']",600,12.0,"[(33.735470987290235, 12.059047013533815), (35...",[],2357.0,TRI_196,[],[],TF-Ar
158,TRI_195,1306,5.39,"['LiVO3_15_(icsd_51443)-0', 'LiV2O5_62_(icsd_2...",{'LiVO3_15_(icsd_51443)-0': 0.5490108875406261...,"[dict_keys(['LiVO3_15_(icsd_51443)-0', 'LiV2O5...","[[[[{'Li': 1.0, 'V': 1.0, 'O': 3.0}, ['LiVO3_1...",TRI-195,LiVO3,"['Li2CO3', 'V2O5']",600,12.0,"[(11.965744488025912, 56.728833651748744), (12...","[(18.387397800412046, 53.4969162449354), (20.2...",2444.0,TRI_195,[],[],TF-Ar
159,TRI_200,1305,5.66,"['Mg2VO4_227_(icsd_76980)-56', 'VO2_14_(icsd_6...",{'Mg2VO4_227_(icsd_76980)-56': 0.4685342797517...,"[dict_keys(['Mg2VO4_227_(icsd_76980)-56', 'VO2...","[[[[{'Mg': 2.0, 'V': 1.0, 'O': 4.0}, ['Mg2VO4_...",TRI-200,MgV2O4,"['MgCO3', 'V2O5']",600,12.0,"[(17.269826435234364, 47.28231230444064), (18....","[(36.20530526772973, 38.36486153267821), (46.7...",3163.0,TRI_200,[],[],TF-Ar+H2
160,TRI_199,1304,5.32,"['Mg2VO4_227_(icsd_76980)-56', 'Mg15.9992V10.6...",{'Mg2VO4_227_(icsd_76980)-56': 0.7717786422626...,"[dict_keys(['Mg2VO4_227_(icsd_76980)-56', 'Mg1...","[[[[{'Mg': 2.0, 'V': 1.0, 'O': 4.0}, ['Mg2VO4_...",TRI-199,MgVO3,"['MgCO3', 'V2O5']",600,12.0,"[(40.87023871699201, 115.85562262390665), (41....",[],7794.0,TRI_199,[],[],TF-Ar+H2
161,TRI_193,1303,5.17,"['Mg2V2O7_2_(icsd_2321)-0', 'VO2_12_(icsd_3441...",{'Mg2V2O7_2_(icsd_2321)-0': 0.6280964312997197...,"[dict_keys(['Mg2V2O7_2_(icsd_2321)-0', 'VO2_12...","[[[[{'Mg': 2.0, 'V': 2.0, 'O': 7.0}, ['Mg2V2O7...",TRI-193,MgVO3,"['MgCO3', 'V2O5']",600,12.0,"[(30.839989803700288, 103.89418551498402), (52...","[(21.293459569490672, 96.53957549079799), (29....",3486.0,TRI_193,[],[],TF-Ar