In [34]:
import pandas as pd

# --- Load Files ---

evaluation_csv_path = "../data/alab_synthesis_data/Dara-AIF_evaluation.csv"
evaluation_df= pd.read_csv(evaluation_csv_path)

In [35]:
import pandas as pd
from collections import defaultdict

# Step 1: Define synthesis-relevant grouping columns
group_cols = ['Target', 'Precursor 1', 'Precursor 2', 'Precursor 3',
              'Precursor 4', 'Furnace', 'Temperature (C)', 'Dwell Duration (h)']

# Step 2: Group the dataframe by synthesis recipe (including Target)
grouped = evaluation_df.groupby(group_cols, dropna=False)

# Step 3: Store tables in a structured dictionary: { target: [(condition_keys, group_df), ...] }
tables_by_target = defaultdict(list)
for keys, df_group in grouped:
    target = keys[0]
    synthesis_keys = keys[1:]  # everything except target
    tables_by_target[target].append((synthesis_keys, df_group.reset_index(drop=True)))

# Step 4: Get the list of unique targets (excluding NaNs)
unique_targets = evaluation_df['Target'].dropna().unique().tolist()

# Step 5: Loop over each target and print its condition-based groups
for target in unique_targets:
    if target not in tables_by_target:
        continue  # skip if no valid groups found

In [36]:
from IPython.display import display, Markdown

# Same grouping setup as before...

for target in unique_targets:
    if target not in tables_by_target:
        continue

    display(Markdown(f"## ðŸŽ¯ Target: {target}"))

    for i, (synth_keys, df) in enumerate(tables_by_target[target], 1):
        precursors = [p for p in synth_keys[:4] if pd.notna(p)]
        furnace = synth_keys[4]
        temp = synth_keys[5]
        dwell = synth_keys[6]

        display(Markdown(
            f"**Group {i}**\n\n"
            f"- Precursors: {precursors}\n"
            f"- Furnace: `{furnace}`\n"
            f"- Temp: `{temp} Â°C`, Dwell: `{dwell} h`"
        ))
        display(df[['Run Name in ALAB', 'Precursor 1', 'Precursor 2', 'Precursor 3',
                    'Precursor 4', 'Furnace', 'Temperature (C)', 'Dwell Duration (h)',
                    'Evaluator name', 'Interpretation A: Human Evaluation (0-1, 1 is best)',
                    'Interpretation B: Human Evaluation']])

## ðŸŽ¯ Target: CaVO2

**Group 1**

- Precursors: ['CaCO3', 'V2O3']
- Furnace: `BF`
- Temp: `700 Â°C`, Dwell: `8 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-28,CaCO3,V2O3,NaN,NaN,BF,700,8,Koki,1.0,0.5

**Group 2**

- Precursors: ['CaCO3', 'V2O3']
- Furnace: `TF-Ar`
- Temp: `500 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-78,CaCO3,V2O3,NaN,NaN,TF-Ar,500,12,Lauren,1.0,1.0

**Group 3**

- Precursors: ['CaCO3', 'V2O3']
- Furnace: `TF-Ar`
- Temp: `700 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-88,CaCO3,V2O3,NaN,NaN,TF-Ar,700,12,NaN,NaN,NaN

**Group 4**

- Precursors: ['CaCO3', 'V2O3']
- Furnace: `TF-Ar`
- Temp: `800 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-91,CaCO3,V2O3,NaN,NaN,TF-Ar,800,12,Lauren,1.0,1.0

**Group 5**

- Precursors: ['CaCO3', 'V2O3']
- Furnace: `TF-Ar + H2`
- Temp: `700 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-100,CaCO3,V2O3,NaN,NaN,TF-Ar + H2,700,12,Lauren,1.0,1.0

**Group 6**

- Precursors: ['CaCO3', 'V2O5', 'C (carbon black)']
- Furnace: `TF-Ar`
- Temp: `700 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-103,CaCO3,V2O5,C (carbon black),NaN,TF-Ar,700,12,Lauren,0.5,0.5

**Group 7**

- Precursors: ['CaCO3', 'V2O5']
- Furnace: `BF`
- Temp: `700 Â°C`, Dwell: `8 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-27,CaCO3,V2O5,NaN,NaN,BF,700,8,Steven + Koki,0.0,1.0

**Group 8**

- Precursors: ['CaCO3', 'V2O5']
- Furnace: `BF`
- Temp: `900 Â°C`, Dwell: `8 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,11_CaVO2_900,CaCO3,V2O5,NaN,NaN,BF,900,8,NaN,NaN,NaN

**Group 9**

- Precursors: ['CaCO3', 'V2O5']
- Furnace: `TF-Ar`
- Temp: `500 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-77,CaCO3,V2O5,NaN,NaN,TF-Ar,500,12,NaN,NaN,NaN

**Group 10**

- Precursors: ['CaCO3', 'V2O5']
- Furnace: `TF-Ar`
- Temp: `800 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-126,CaCO3,V2O5,NaN,NaN,TF-Ar,800,12,NaN,NaN,NaN

**Group 11**

- Precursors: ['CaCO3', 'V2O5']
- Furnace: `TF-Ar + H2`
- Temp: `700 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-99,CaCO3,V2O5,NaN,NaN,TF-Ar + H2,700,12,Lauren,1.0,1.0

**Group 12**

- Precursors: ['CaCO3', 'V2O5']
- Furnace: `TF-Ar + H2`
- Temp: `800 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-130,CaCO3,V2O5,NaN,NaN,TF-Ar + H2,800,12,Lauren,1.0,0.0
1,TRI-131,CaCO3,V2O5,NaN,NaN,TF-Ar + H2,800,12,NaN,NaN,NaN

**Group 13**

- Precursors: ['CaCO3', 'V2O5']
- Furnace: `TF-Ar+H2`
- Temp: `600 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-197,CaCO3,V2O5,NaN,NaN,TF-Ar+H2,600,12,Lauren,0.0,0.5

## ðŸŽ¯ Target: CaV2O3

**Group 1**

- Precursors: ['CaCO3', 'V2O3', 'C (carbon black)']
- Furnace: `TF-Ar`
- Temp: `700 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-105,CaCO3,V2O3,C (carbon black),NaN,TF-Ar,700,12,Lauren,1.0,1.0

**Group 2**

- Precursors: ['CaCO3', 'V2O3']
- Furnace: `BF`
- Temp: `700 Â°C`, Dwell: `8 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-30,CaCO3,V2O3,NaN,NaN,BF,700,8,NaN,NaN,NaN

**Group 3**

- Precursors: ['CaCO3', 'V2O3']
- Furnace: `BF`
- Temp: `900 Â°C`, Dwell: `8 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-14,CaCO3,V2O3,NaN,NaN,BF,900,8,NaN,NaN,NaN

**Group 4**

- Precursors: ['CaCO3', 'V2O3']
- Furnace: `TF-Ar`
- Temp: `500 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-80,CaCO3,V2O3,NaN,NaN,TF-Ar,500,12,Lauren,1.0,1.0

**Group 5**

- Precursors: ['CaCO3', 'V2O3']
- Furnace: `TF-Ar`
- Temp: `700 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-90,CaCO3,V2O3,NaN,NaN,TF-Ar,700,12,Lauren,0.5,1.0

**Group 6**

- Precursors: ['CaCO3', 'V2O3']
- Furnace: `TF-Ar`
- Temp: `800 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-92,CaCO3,V2O3,NaN,NaN,TF-Ar,800,12,Lauren,1.0,1.0

**Group 7**

- Precursors: ['CaCO3', 'V2O3']
- Furnace: `TF-Ar + H2`
- Temp: `700 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-102,CaCO3,V2O3,NaN,NaN,TF-Ar + H2,700,12,Lauren,1.0,1.0

**Group 8**

- Precursors: ['CaCO3', 'V2O5', 'C (carbon black)']
- Furnace: `TF-Ar`
- Temp: `700 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-104,CaCO3,V2O5,C (carbon black),NaN,TF-Ar,700,12,Lauren,0.5,0.5

**Group 9**

- Precursors: ['CaCO3', 'V2O5']
- Furnace: `BF`
- Temp: `700 Â°C`, Dwell: `8 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-29,CaCO3,V2O5,NaN,NaN,BF,700,8,NaN,NaN,NaN

**Group 10**

- Precursors: ['CaCO3', 'V2O5']
- Furnace: `TF-Ar`
- Temp: `500 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-79,CaCO3,V2O5,NaN,NaN,TF-Ar,500,12,Lauren,1.0,1.0

**Group 11**

- Precursors: ['CaCO3', 'V2O5']
- Furnace: `TF-Ar`
- Temp: `700 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-89,CaCO3,V2O5,NaN,NaN,TF-Ar,700,12,NaN,NaN,NaN

**Group 12**

- Precursors: ['CaCO3', 'V2O5']
- Furnace: `TF-Ar + H2`
- Temp: `700 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-101,CaCO3,V2O5,NaN,NaN,TF-Ar + H2,700,12,Lauren,1.0,1.0

**Group 13**

- Precursors: ['CaCO3', 'V2O5']
- Furnace: `TF-Ar + H2`
- Temp: `800 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-132,CaCO3,V2O5,NaN,NaN,TF-Ar + H2,800,12,NaN,NaN,NaN
1,TRI-133,CaCO3,V2O5,NaN,NaN,TF-Ar + H2,800,12,NaN,NaN,NaN

## ðŸŽ¯ Target: CaV3O4

**Group 1**

- Precursors: ['CaCO3', 'V2O3']
- Furnace: `BF`
- Temp: `700 Â°C`, Dwell: `8 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-32,CaCO3,V2O3,NaN,NaN,BF,700,8,Lauren,1.0,1.0

**Group 2**

- Precursors: ['CaCO3', 'V2O5']
- Furnace: `BF`
- Temp: `700 Â°C`, Dwell: `8 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-31,CaCO3,V2O5,NaN,NaN,BF,700,8,Lauren,1.0,1.0

**Group 3**

- Precursors: ['CaCO3', 'V2O5']
- Furnace: `BF`
- Temp: `900 Â°C`, Dwell: `8 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-15,CaCO3,V2O5,NaN,NaN,BF,900,8,Steven + Koki,1.0,0.5

## ðŸŽ¯ Target: LiVO2

**Group 1**

- Precursors: ['Li2CO3', 'V2O3']
- Furnace: `BF`
- Temp: `600 Â°C`, Dwell: `8 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-38,Li2CO3,V2O3,NaN,NaN,BF,600,8,Lauren,1.0,1.0

**Group 2**

- Precursors: ['Li2CO3', 'V2O3']
- Furnace: `TF-Ar`
- Temp: `400 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-82,Li2CO3,V2O3,NaN,NaN,TF-Ar,400,12,Lauren,0.5,0.5

**Group 3**

- Precursors: ['Li2CO3', 'V2O5']
- Furnace: `BF`
- Temp: `600 Â°C`, Dwell: `8 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-37,Li2CO3,V2O5,NaN,NaN,BF,600,8,NaN,NaN,NaN

**Group 4**

- Precursors: ['Li2CO3', 'V2O5']
- Furnace: `TF-Ar`
- Temp: `400 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-81,Li2CO3,V2O5,NaN,NaN,TF-Ar,400,12,Lauren,1.0,1.0

**Group 5**

- Precursors: ['Li2CO3', 'V2O5']
- Furnace: `TF-Ar + H2`
- Temp: `600 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-114,Li2CO3,V2O5,NaN,NaN,TF-Ar + H2,600,12,NaN,NaN,NaN

## ðŸŽ¯ Target: LiV2O3

**Group 1**

- Precursors: ['Li2CO3', 'V2O3']
- Furnace: `BF`
- Temp: `500 Â°C`, Dwell: `8 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-62,Li2CO3,V2O3,NaN,NaN,BF,500,8,Lauren,1.0,1.0

**Group 2**

- Precursors: ['Li2CO3', 'V2O5']
- Furnace: `BF`
- Temp: `600 Â°C`, Dwell: `8 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-39,Li2CO3,V2O5,NaN,NaN,BF,600,8,Lauren,1.0,1.0

## ðŸŽ¯ Target: LiV3O4

**Group 1**

- Precursors: ['Li2CO3', 'V2O3']
- Furnace: `BF`
- Temp: `500 Â°C`, Dwell: `8 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-64,Li2CO3,V2O3,NaN,NaN,BF,500,8,Lauren,1.0,1.0

**Group 2**

- Precursors: ['Li2CO3', 'V2O5']
- Furnace: `BF`
- Temp: `500 Â°C`, Dwell: `8 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-63,Li2CO3,V2O5,NaN,NaN,BF,500,8,Lauren,1.0,1.0

**Group 3**

- Precursors: ['Li2CO3', 'V2O5']
- Furnace: `BF`
- Temp: `600 Â°C`, Dwell: `8 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-41,Li2CO3,V2O5,NaN,NaN,BF,600,8,NaN,NaN,NaN

## ðŸŽ¯ Target: Li3VO4

**Group 1**

- Precursors: ['Li2CO3', 'V2O3']
- Furnace: `BF`
- Temp: `600 Â°C`, Dwell: `8 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-44,Li2CO3,V2O3,NaN,NaN,BF,600,8,NaN,NaN,NaN

**Group 2**

- Precursors: ['Li2CO3', 'V2O5']
- Furnace: `BF`
- Temp: `600 Â°C`, Dwell: `8 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-43,Li2CO3,V2O5,NaN,NaN,BF,600,8,NaN,NaN,NaN

## ðŸŽ¯ Target: KVO2

**Group 1**

- Precursors: ['K2CO3', 'V2O3']
- Furnace: `TF-Ar`
- Temp: `400 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-84,K2CO3,V2O3,NaN,NaN,TF-Ar,400,12,Lauren,1.0,1.0

**Group 2**

- Precursors: ['K2CO3', 'V2O3']
- Furnace: `TF-Ar`
- Temp: `600 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-94,K2CO3,V2O3,NaN,NaN,TF-Ar,600,12,Lauren,0.5,0.5

**Group 3**

- Precursors: ['K2CO3', 'V2O5']
- Furnace: `TF-Ar`
- Temp: `400 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-83,K2CO3,V2O5,NaN,NaN,TF-Ar,400,12,Lauren,1.0,1.0

**Group 4**

- Precursors: ['K2CO3', 'V2O5']
- Furnace: `TF-Ar + H2`
- Temp: `600 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-113,K2CO3,V2O5,NaN,NaN,TF-Ar + H2,600,12,Lauren,0.0,0.0

## ðŸŽ¯ Target: NaVO2

**Group 1**

- Precursors: ['Na2CO3', 'V2O3']
- Furnace: `TF-Ar`
- Temp: `400 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-86,Na2CO3,V2O3,NaN,NaN,TF-Ar,400,12,Lauren,1.0,1.0

**Group 2**

- Precursors: ['Na2CO3', 'V2O3']
- Furnace: `TF-Ar + H2`
- Temp: `600 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-112,Na2CO3,V2O3,NaN,NaN,TF-Ar + H2,600,12,Laruen,0.0,0.0

**Group 3**

- Precursors: ['Na2CO3', 'V2O5', 'C (carbon black)']
- Furnace: `TF-Ar`
- Temp: `700 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-106,Na2CO3,V2O5,C (carbon black),NaN,TF-Ar,700,12,Lauren,0.5,0.0

**Group 4**

- Precursors: ['Na2CO3', 'V2O5']
- Furnace: `TF-Ar`
- Temp: `400 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-85,Na2CO3,V2O5,NaN,NaN,TF-Ar,400,12,NaN,NaN,NaN

**Group 5**

- Precursors: ['Na2CO3', 'V2O5']
- Furnace: `TF-Ar + H2`
- Temp: `600 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-111,Na2CO3,V2O5,NaN,NaN,TF-Ar + H2,600,12,NaN,NaN,NaN

## ðŸŽ¯ Target: MgVO3

**Group 1**

- Precursors: ['MgCO3', 'V2O3']
- Furnace: `BF`
- Temp: `500 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-184,MgCO3,V2O3,NaN,NaN,BF,500,12,Lauren,0.5,0.5

**Group 2**

- Precursors: ['MgCO3', 'V2O5']
- Furnace: `BF`
- Temp: `500 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-183,MgCO3,V2O5,NaN,NaN,BF,500,12,Lauren,0.5,0.5

**Group 3**

- Precursors: ['MgCO3', 'V2O5']
- Furnace: `BF`
- Temp: `600 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-172,MgCO3,V2O5,NaN,NaN,BF,600,12,Lauren,1.0,1.0

## ðŸŽ¯ Target: CaRuO4

**Group 1**

- Precursors: ['CaCO3', 'RuO2']
- Furnace: `BF`
- Temp: `550 Â°C`, Dwell: `24 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-190,CaCO3,RuO2,NaN,NaN,BF,550,24,NaN,NaN,NaN
1,TRI-191,CaCO3,RuO2,NaN,NaN,BF,550,24,Lauren,1.0,1.0
2,TRI-192,CaCO3,RuO2,NaN,NaN,BF,550,24,Lauren! Sorry!,NaN,NaN

**Group 2**

- Precursors: ['CaCO3', 'RuO2']
- Furnace: `BF`
- Temp: `550 Â°C`, Dwell: `72 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-180,CaCO3,RuO2,NaN,NaN,BF,550,72,Lauren,1.0,1.0

**Group 3**

- Precursors: ['CaCO3', 'RuO2']
- Furnace: `BF`
- Temp: `1100 Â°C`, Dwell: `8 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-187,CaCO3,RuO2,NaN,NaN,BF,1100,8,NaN,NaN,NaN
1,TRI-189,CaCO3,RuO2,NaN,NaN,BF,1100,8,Lauren,0.5,0.5

## ðŸŽ¯ Target: NaV2O4

**Group 1**

- Precursors: ['Na2CO3', 'V2O5']
- Furnace: `BF`
- Temp: `500 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-181,Na2CO3,V2O5,NaN,NaN,BF,500,12,Lauren,0.0,0.0

## ðŸŽ¯ Target: NaVO3

**Group 1**

- Precursors: ['Na2CO3', 'V2O5']
- Furnace: `BF`
- Temp: `500 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-182,Na2CO3,V2O5,NaN,NaN,BF,500,12,Lauren,1.0,1.0

## ðŸŽ¯ Target: MgV2O4

**Group 1**

- Precursors: ['MgCO3', 'V2O3']
- Furnace: `BF`
- Temp: `500 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-186,MgCO3,V2O3,NaN,NaN,BF,500,12,Lauren,1.0,1.0

**Group 2**

- Precursors: ['MgCO3', 'V2O5']
- Furnace: `BF`
- Temp: `500 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-185,MgCO3,V2O5,NaN,NaN,BF,500,12,Lauren,1.0,1.0

**Group 3**

- Precursors: ['MgCO3', 'V2O5']
- Furnace: `TF-Ar`
- Temp: `600 Â°C`, Dwell: `12 h`

,Run Name in ALAB,Precursor 1,Precursor 2,Precursor 3,Precursor 4,Furnace,Temperature (C),Dwell Duration (h),Evaluator name,"Interpretation A: Human Evaluation (0-1, 1 is best)",Interpretation B: Human Evaluation
0,TRI-194,MgCO3,V2O5,NaN,NaN,TF-Ar,600,12,Lauren,1.0,0.5

In [38]:
for t_index, target in enumerate(unique_targets, 1):  # start counting from 1
    if target not in tables_by_target:
        continue

    print(f"\n=== Target {t_index} of {len(unique_targets)}: {target} ===")

    for i, (synth_keys, df) in enumerate(tables_by_target[target], 1):
        run_names = df['Run Name in ALAB'].dropna().tolist()
        run_list_str = ", ".join(run_names)

        # Extract clean precursors and synthesis info
        precursors = [p for p in synth_keys[:4] if pd.notna(p)]
        precursors_str = ", ".join(precursors)
        furnace = synth_keys[4]
        temp = synth_keys[5]
        dwell = synth_keys[6]

        print(f"  Group {i}: Runs: {run_list_str} | Precursors: {precursors_str} | Furnace: {furnace} | Temp: {temp}Â°C | Dwell: {dwell}h")

=== Target 1 of 14: CaVO2 ===
  Group 1: Runs: TRI-28 | Precursors: CaCO3, V2O3 | Furnace: BF | Temp: 700Â°C | Dwell: 8h
  Group 2: Runs: TRI-78 | Precursors: CaCO3, V2O3 | Furnace: TF-Ar | Temp: 500Â°C | Dwell: 12h
  Group 3: Runs: TRI-88 | Precursors: CaCO3, V2O3 | Furnace: TF-Ar | Temp: 700Â°C | Dwell: 12h
  Group 4: Runs: TRI-91 | Precursors: CaCO3, V2O3 | Furnace: TF-Ar | Temp: 800Â°C | Dwell: 12h
  Group 5: Runs: TRI-100 | Precursors: CaCO3, V2O3 | Furnace: TF-Ar + H2 | Temp: 700Â°C | Dwell: 12h
  Group 6: Runs: TRI-103 | Precursors: CaCO3, V2O5, C (carbon black) | Furnace: TF-Ar | Temp: 700Â°C | Dwell: 12h
  Group 7: Runs: TRI-27 | Precursors: CaCO3, V2O5 | Furnace: BF | Temp: 700Â°C | Dwell: 8h
  Group 8: Runs: 11_CaVO2_900 | Precursors: CaCO3, V2O5 | Furnace: BF | Temp: 900Â°C | Dwell: 8h
  Group 9: Runs: TRI-77 | Precursors: CaCO3, V2O5 | Furnace: TF-Ar | Temp: 500Â°C | Dwell: 12h
  Group 10: Runs: TRI-126 | Precursors: CaCO3, V2O5 | Furnace: TF-Ar | Temp: 800Â°C | Dwell: 12h
  Group 11: Runs: TRI-99 | Precursors: CaCO3, V2O5 | Furnace: TF-Ar + H2 | Temp: 700Â°C | Dwell: 12h
  Group 12: Runs: TRI-130, TRI-131 | Precursors: CaCO3, V2O5 | Furnace: TF-Ar + H2 | Temp: 800Â°C | Dwell: 12h
  Group 13: Runs: TRI-197 | Precursors: CaCO3, V2O5 | Furnace: TF-Ar+H2 | Temp: 600Â°C | Dwell: 12h

=== Target 2 of 14: CaV2O3 ===
  Group 1: Runs: TRI-105 | Precursors: CaCO3, V2O3, C (carbon black) | Furnace: TF-Ar | Temp: 700Â°C | Dwell: 12h
  Group 2: Runs: TRI-30 | Precursors: CaCO3, V2O3 | Furnace: BF | Temp: 700Â°C | Dwell: 8h
  Group 3: Runs: TRI-14 | Precursors: CaCO3, V2O3 | Furnace: BF | Temp: 900Â°C | Dwell: 8h
  Group 4: Runs: TRI-80 | Precursors: CaCO3, V2O3 | Furnace: TF-Ar | Temp: 500Â°C | Dwell: 12h
  Group 5: Runs: TRI-90 | Precursors: CaCO3, V2O3 | Furnace: TF-Ar | Temp: 700Â°C | Dwell: 12h
  Group 6: Runs: TRI-92 | Precursors: CaCO3, V2O3 | Furnace: TF-Ar | Temp: 800Â°C | Dwell: 12h
  Group 7: Runs: TRI-102 | Precursors: CaCO3, V2O3 | Furnace: TF-Ar + H2 | Temp: 700Â°C | Dwell: 12h
  Group 8: Runs: TRI-104 | Precursors: CaCO3, V2O5, C (carbon black) | Furnace: TF-Ar | Temp: 700Â°C | Dwell: 12h
  Group 9: Runs: TRI-29 | Precursors: CaCO3, V2O5 | Furnace: BF | Temp: 700Â°C | Dwell: 8h
  Group 10: Runs: TRI-79 | Precursors: CaCO3, V2O5 | Furnace: TF-Ar | Temp: 500Â°C | Dwell: 12h
  Group 11: Runs: TRI-89 | Precursors: CaCO3, V2O5 | Furnace: TF-Ar | Temp: 700Â°C | Dwell: 12h
  Group 12: Runs: TRI-101 | Precursors: CaCO3, V2O5 | Furnace: TF-Ar + H2 | Temp: 700Â°C | Dwell: 12h
  Group 13: Runs: TRI-132, TRI-133 | Precursors: CaCO3, V2O5 | Furnace: TF-Ar + H2 | Temp: 800Â°C | Dwell: 12h

=== Target 3 of 14: CaV3O4 ===
  Group 1: Runs: TRI-32 | Precursors: CaCO3, V2O3 | Furnace: BF | Temp: 700Â°C | Dwell: 8h
  Group 2: Runs: TRI-31 | Precursors: CaCO3, V2O5 | Furnace: BF | Temp: 700Â°C | Dwell: 8h
  Group 3: Runs: TRI-15 | Precursors: CaCO3, V2O5 | Furnace: BF | Temp: 900Â°C | Dwell: 8h

=== Target 4 of 14: LiVO2 ===
  Group 1: Runs: TRI-38 | Precursors: Li2CO3, V2O3 | Furnace: BF | Temp: 600Â°C | Dwell: 8h
  Group 2: Runs: TRI-82 | Precursors: Li2CO3, V2O3 | Furnace: TF-Ar | Temp: 400Â°C | Dwell: 12h
  Group 3: Runs: TRI-37 | Precursors: Li2CO3, V2O5 | Furnace: BF | Temp: 600Â°C | Dwell: 8h
  Group 4: Runs: TRI-81 | Precursors: Li2CO3, V2O5 | Furnace: TF-Ar | Temp: 400Â°C | Dwell: 12h
  Group 5: Runs: TRI-114 | Precursors: Li2CO3, V2O5 | Furnace: TF-Ar + H2 | Temp: 600Â°C | Dwell: 12h

=== Target 5 of 14: LiV2O3 ===
  Group 1: Runs: TRI-62 | Precursors: Li2CO3, V2O3 | Furnace: BF | Temp: 500Â°C | Dwell: 8h
  Group 2: Runs: TRI-39 | Precursors: Li2CO3, V2O5 | Furnace: BF | Temp: 600Â°C | Dwell: 8h

=== Target 6 of 14: LiV3O4 ===
  Group 1: Runs: TRI-64 | Precursors: Li2CO3, V2O3 | Furnace: BF | Temp: 500Â°C | Dwell: 8h
  Group 2: Runs: TRI-63 | Precursors: Li2CO3, V2O5 | Furnace: BF | Temp: 500Â°C | Dwell: 8h
  Group 3: Runs: TRI-41 | Precursors: Li2CO3, V2O5 | Furnace: BF | Temp: 600Â°C | Dwell: 8h

=== Target 7 of 14: Li3VO4 ===
  Group 1: Runs: TRI-44 | Precursors: Li2CO3, V2O3 | Furnace: BF | Temp: 600Â°C | Dwell: 8h
  Group 2: Runs: TRI-43 | Precursors: Li2CO3, V2O5 | Furnace: BF | Temp: 600Â°C | Dwell: 8h

=== Target 8 of 14: KVO2 ===
  Group 1: Runs: TRI-84 | Precursors: K2CO3, V2O3 | Furnace: TF-Ar | Temp: 400Â°C | Dwell: 12h
  Group 2: Runs: TRI-94 | Precursors: K2CO3, V2O3 | Furnace: TF-Ar | Temp: 600Â°C | Dwell: 12h
  Group 3: Runs: TRI-83 | Precursors: K2CO3, V2O5 | Furnace: TF-Ar | Temp: 400Â°C | Dwell: 12h
  Group 4: Runs: TRI-113 | Precursors: K2CO3, V2O5 | Furnace: TF-Ar + H2 | Temp: 600Â°C | Dwell: 12h

=== Target 9 of 14: NaVO2 ===
  Group 1: Runs: TRI-86 | Precursors: Na2CO3, V2O3 | Furnace: TF-Ar | Temp: 400Â°C | Dwell: 12h
  Group 2: Runs: TRI-112 | Precursors: Na2CO3, V2O3 | Furnace: TF-Ar + H2 | Temp: 600Â°C | Dwell: 12h
  Group 3: Runs: TRI-106 | Precursors: Na2CO3, V2O5, C (carbon black) | Furnace: TF-Ar | Temp: 700Â°C | Dwell: 12h
  Group 4: Runs: TRI-85 | Precursors: Na2CO3, V2O5 | Furnace: TF-Ar | Temp: 400Â°C | Dwell: 12h
  Group 5: Runs: TRI-111 | Precursors: Na2CO3, V2O5 | Furnace: TF-Ar + H2 | Temp: 600Â°C | Dwell: 12h

=== Target 10 of 14: MgVO3 ===
  Group 1: Runs: TRI-184 | Precursors: MgCO3, V2O3 | Furnace: BF | Temp: 500Â°C | Dwell: 12h
  Group 2: Runs: TRI-183 | Precursors: MgCO3, V2O5 | Furnace: BF | Temp: 500Â°C | Dwell: 12h
  Group 3: Runs: TRI-172 | Precursors: MgCO3, V2O5 | Furnace: BF | Temp: 600Â°C | Dwell: 12h

=== Target 11 of 14: CaRuO4 ===
  Group 1: Runs: TRI-190, TRI-191, TRI-192 | Precursors: CaCO3, RuO2 | Furnace: BF | Temp: 550Â°C | Dwell: 24h
  Group 2: Runs: TRI-180 | Precursors: CaCO3, RuO2 | Furnace: BF | Temp: 550Â°C | Dwell: 72h
  Group 3: Runs: TRI-187, TRI-189 | Precursors: CaCO3, RuO2 | Furnace: BF | Temp: 1100Â°C | Dwell: 8h

=== Target 12 of 14: NaV2O4 ===
  Group 1: Runs: TRI-181 | Precursors: Na2CO3, V2O5 | Furnace: BF | Temp: 500Â°C | Dwell: 12h

=== Target 13 of 14: NaVO3 ===
  Group 1: Runs: TRI-182 | Precursors: Na2CO3, V2O5 | Furnace: BF | Temp: 500Â°C | Dwell: 12h

=== Target 14 of 14: MgV2O4 ===
  Group 1: Runs: TRI-186 | Precursors: MgCO3, V2O3 | Furnace: BF | Temp: 500Â°C | Dwell: 12h
  Group 2: Runs: TRI-185 | Precursors: MgCO3, V2O5 | Furnace: BF | Temp: 500Â°C | Dwell: 12h
  Group 3: Runs: TRI-194 | Precursors: MgCO3, V2O5 | Furnace: TF-Ar | Temp: 600Â°C | Dwell: 12h

In [44]:
import pandas as pd
from collections import defaultdict



# Step 1: Load both CSVs
evaluation_df = pd.read_csv("../data/alab_synthesis_data/Dara-AIF_evaluation.csv")
log_df = pd.read_csv("../data/alab_synthesis_data/AIFvsDara_LOG_updated.csv")

# Step 2: Merge on "Run Name in ALAB"
merged_df = pd.merge(
    evaluation_df,
    log_df[['Run Name in ALAB', 'Interpr A - explanation', 'Interpr B - explanation']],
    on='Run Name in ALAB',
    how='left'
)

# Step 3: Define function to classify preferred interpretation
def determine_preferred_source(row):
    pref = str(row['Prefered Interpretation']).strip().lower()
    a_source = str(row['Interpr A - explanation']).strip().lower()
    b_source = str(row['Interpr B - explanation']).strip().lower()

    if "both" in pref:
        return "both"
    elif "neither" in pref:
        return "neither"
    elif pref == "a":
        return a_source
    elif pref == "b":
        return b_source
    else:
        return "unknown"

merged_df['Preferred Source'] = merged_df.apply(determine_preferred_source, axis=1)

# Step 5: Group by Preferred Source, Target, and synthesis conditions
group_cols = ['Preferred Source', 'Target', 'Precursor 1', 'Precursor 2', 'Precursor 3',
              'Precursor 4', 'Furnace', 'Temperature (C)', 'Dwell Duration (h)']

grouped = merged_df.groupby(group_cols, dropna=False)

# Step 6: Structure the data for display
tables_by_source = defaultdict(lambda: defaultdict(list))
for keys, group_df in grouped:
    source = keys[0]
    target = keys[1]
    synth_keys = keys[2:]
    tables_by_source[source][target].append((synth_keys, group_df.reset_index(drop=True)))

# Step 7: Display it
for source_group, target_dict in tables_by_source.items():
    print(f"\n========== Preferred Source: {source_group.upper()} ==========")

    for target_index, (target, groups) in enumerate(target_dict.items(), 1):
        print(f"\n--- Target {target_index}: {target} ---")

        for i, (synth_keys, df) in enumerate(groups, 1):
            run_names = df['Run Name in ALAB'].dropna().tolist()
            run_list_str = ", ".join(run_names)

            # Clean precursors
            precursors = [p for p in synth_keys[:4] if pd.notna(p)]
            precursors_str = ", ".join(precursors)
            furnace = synth_keys[4]
            temp = synth_keys[5]
            dwell = synth_keys[6]

            print(f"  Group {i}: {run_list_str}")
            print(f"    Precursors: {precursors_str} | Furnace: {furnace} | Temp: {temp}Â°C | Dwell: {dwell}h")

========== Preferred Source: AIF INTERPRETATION ==========

--- Target 1: CaRuO4 ---
  Group 1: TRI-192
    Precursors: CaCO3, RuO2 | Furnace: BF | Temp: 550Â°C | Dwell: 24h

--- Target 2: CaV2O3 ---
  Group 1: TRI-104
    Precursors: CaCO3, V2O5, C (carbon black) | Furnace: TF-Ar | Temp: 700Â°C | Dwell: 12h

--- Target 3: CaV3O4 ---
  Group 1: TRI-32
    Precursors: CaCO3, V2O3 | Furnace: BF | Temp: 700Â°C | Dwell: 8h
  Group 2: TRI-31
    Precursors: CaCO3, V2O5 | Furnace: BF | Temp: 700Â°C | Dwell: 8h

--- Target 4: CaVO2 ---
  Group 1: TRI-197
    Precursors: CaCO3, V2O5 | Furnace: TF-Ar+H2 | Temp: 600Â°C | Dwell: 12h

--- Target 5: KVO2 ---
  Group 1: TRI-94
    Precursors: K2CO3, V2O3 | Furnace: TF-Ar | Temp: 600Â°C | Dwell: 12h

--- Target 6: LiV2O3 ---
  Group 1: TRI-39
    Precursors: Li2CO3, V2O5 | Furnace: BF | Temp: 600Â°C | Dwell: 8h

--- Target 7: LiVO2 ---
  Group 1: TRI-81
    Precursors: Li2CO3, V2O5 | Furnace: TF-Ar | Temp: 400Â°C | Dwell: 12h

--- Target 8: MgV2O4 ---
  Group 1: TRI-186
    Precursors: MgCO3, V2O3 | Furnace: BF | Temp: 500Â°C | Dwell: 12h
  Group 2: TRI-185
    Precursors: MgCO3, V2O5 | Furnace: BF | Temp: 500Â°C | Dwell: 12h

--- Target 9: MgVO3 ---
  Group 1: TRI-184
    Precursors: MgCO3, V2O3 | Furnace: BF | Temp: 500Â°C | Dwell: 12h
  Group 2: TRI-172
    Precursors: MgCO3, V2O5 | Furnace: BF | Temp: 600Â°C | Dwell: 12h

--- Target 10: NaVO2 ---
  Group 1: TRI-106
    Precursors: Na2CO3, V2O5, C (carbon black) | Furnace: TF-Ar | Temp: 700Â°C | Dwell: 12h

========== Preferred Source: BOTH ==========

--- Target 1: CaRuO4 ---
  Group 1: TRI-190, TRI-191
    Precursors: CaCO3, RuO2 | Furnace: BF | Temp: 550Â°C | Dwell: 24h
  Group 2: TRI-187
    Precursors: CaCO3, RuO2 | Furnace: BF | Temp: 1100Â°C | Dwell: 8h

--- Target 2: CaV2O3 ---
  Group 1: TRI-30
    Precursors: CaCO3, V2O3 | Furnace: BF | Temp: 700Â°C | Dwell: 8h
  Group 2: TRI-14
    Precursors: CaCO3, V2O3 | Furnace: BF | Temp: 900Â°C | Dwell: 8h
  Group 3: TRI-90
    Precursors: CaCO3, V2O3 | Furnace: TF-Ar | Temp: 700Â°C | Dwell: 12h
  Group 4: TRI-29
    Precursors: CaCO3, V2O5 | Furnace: BF | Temp: 700Â°C | Dwell: 8h
  Group 5: TRI-89
    Precursors: CaCO3, V2O5 | Furnace: TF-Ar | Temp: 700Â°C | Dwell: 12h
  Group 6: TRI-132, TRI-133
    Precursors: CaCO3, V2O5 | Furnace: TF-Ar + H2 | Temp: 800Â°C | Dwell: 12h

--- Target 3: CaVO2 ---
  Group 1: TRI-88
    Precursors: CaCO3, V2O3 | Furnace: TF-Ar | Temp: 700Â°C | Dwell: 12h
  Group 2: TRI-103
    Precursors: CaCO3, V2O5, C (carbon black) | Furnace: TF-Ar | Temp: 700Â°C | Dwell: 12h
  Group 3: 11_CaVO2_900
    Precursors: CaCO3, V2O5 | Furnace: BF | Temp: 900Â°C | Dwell: 8h
  Group 4: TRI-77
    Precursors: CaCO3, V2O5 | Furnace: TF-Ar | Temp: 500Â°C | Dwell: 12h
  Group 5: TRI-131
    Precursors: CaCO3, V2O5 | Furnace: TF-Ar + H2 | Temp: 800Â°C | Dwell: 12h

--- Target 4: KVO2 ---
  Group 1: TRI-83
    Precursors: K2CO3, V2O5 | Furnace: TF-Ar | Temp: 400Â°C | Dwell: 12h

--- Target 5: Li3VO4 ---
  Group 1: TRI-44
    Precursors: Li2CO3, V2O3 | Furnace: BF | Temp: 600Â°C | Dwell: 8h
  Group 2: TRI-43
    Precursors: Li2CO3, V2O5 | Furnace: BF | Temp: 600Â°C | Dwell: 8h

--- Target 6: LiV2O3 ---
  Group 1: TRI-62
    Precursors: Li2CO3, V2O3 | Furnace: BF | Temp: 500Â°C | Dwell: 8h

--- Target 7: LiV3O4 ---
  Group 1: TRI-64
    Precursors: Li2CO3, V2O3 | Furnace: BF | Temp: 500Â°C | Dwell: 8h
  Group 2: TRI-63
    Precursors: Li2CO3, V2O5 | Furnace: BF | Temp: 500Â°C | Dwell: 8h
  Group 3: TRI-41
    Precursors: Li2CO3, V2O5 | Furnace: BF | Temp: 600Â°C | Dwell: 8h

--- Target 8: LiVO2 ---
  Group 1: TRI-37
    Precursors: Li2CO3, V2O5 | Furnace: BF | Temp: 600Â°C | Dwell: 8h
  Group 2: TRI-114
    Precursors: Li2CO3, V2O5 | Furnace: TF-Ar + H2 | Temp: 600Â°C | Dwell: 12h

--- Target 9: NaVO2 ---
  Group 1: TRI-86
    Precursors: Na2CO3, V2O3 | Furnace: TF-Ar | Temp: 400Â°C | Dwell: 12h
  Group 2: TRI-111
    Precursors: Na2CO3, V2O5 | Furnace: TF-Ar + H2 | Temp: 600Â°C | Dwell: 12h

--- Target 10: NaVO3 ---
  Group 1: TRI-182
    Precursors: Na2CO3, V2O5 | Furnace: BF | Temp: 500Â°C | Dwell: 12h

========== Preferred Source: DARA INTERPRETATION ==========

--- Target 1: CaRuO4 ---
  Group 1: TRI-180
    Precursors: CaCO3, RuO2 | Furnace: BF | Temp: 550Â°C | Dwell: 72h

--- Target 2: CaV2O3 ---
  Group 1: TRI-105
    Precursors: CaCO3, V2O3, C (carbon black) | Furnace: TF-Ar | Temp: 700Â°C | Dwell: 12h
  Group 2: TRI-80
    Precursors: CaCO3, V2O3 | Furnace: TF-Ar | Temp: 500Â°C | Dwell: 12h
  Group 3: TRI-92
    Precursors: CaCO3, V2O3 | Furnace: TF-Ar | Temp: 800Â°C | Dwell: 12h
  Group 4: TRI-102
    Precursors: CaCO3, V2O3 | Furnace: TF-Ar + H2 | Temp: 700Â°C | Dwell: 12h
  Group 5: TRI-79
    Precursors: CaCO3, V2O5 | Furnace: TF-Ar | Temp: 500Â°C | Dwell: 12h
  Group 6: TRI-101
    Precursors: CaCO3, V2O5 | Furnace: TF-Ar + H2 | Temp: 700Â°C | Dwell: 12h

--- Target 3: CaV3O4 ---
  Group 1: TRI-15
    Precursors: CaCO3, V2O5 | Furnace: BF | Temp: 900Â°C | Dwell: 8h

--- Target 4: CaVO2 ---
  Group 1: TRI-28
    Precursors: CaCO3, V2O3 | Furnace: BF | Temp: 700Â°C | Dwell: 8h
  Group 2: TRI-78
    Precursors: CaCO3, V2O3 | Furnace: TF-Ar | Temp: 500Â°C | Dwell: 12h
  Group 3: TRI-91
    Precursors: CaCO3, V2O3 | Furnace: TF-Ar | Temp: 800Â°C | Dwell: 12h
  Group 4: TRI-100
    Precursors: CaCO3, V2O3 | Furnace: TF-Ar + H2 | Temp: 700Â°C | Dwell: 12h
  Group 5: TRI-27
    Precursors: CaCO3, V2O5 | Furnace: BF | Temp: 700Â°C | Dwell: 8h
  Group 6: TRI-99
    Precursors: CaCO3, V2O5 | Furnace: TF-Ar + H2 | Temp: 700Â°C | Dwell: 12h
  Group 7: TRI-130
    Precursors: CaCO3, V2O5 | Furnace: TF-Ar + H2 | Temp: 800Â°C | Dwell: 12h

--- Target 5: MgV2O4 ---
  Group 1: TRI-194
    Precursors: MgCO3, V2O5 | Furnace: TF-Ar | Temp: 600Â°C | Dwell: 12h

--- Target 6: MgVO3 ---
  Group 1: TRI-183
    Precursors: MgCO3, V2O5 | Furnace: BF | Temp: 500Â°C | Dwell: 12h

========== Preferred Source: NEITHER ==========

--- Target 1: CaRuO4 ---
  Group 1: TRI-189
    Precursors: CaCO3, RuO2 | Furnace: BF | Temp: 1100Â°C | Dwell: 8h

--- Target 2: CaVO2 ---
  Group 1: TRI-126
    Precursors: CaCO3, V2O5 | Furnace: TF-Ar | Temp: 800Â°C | Dwell: 12h

--- Target 3: KVO2 ---
  Group 1: TRI-84
    Precursors: K2CO3, V2O3 | Furnace: TF-Ar | Temp: 400Â°C | Dwell: 12h
  Group 2: TRI-113
    Precursors: K2CO3, V2O5 | Furnace: TF-Ar + H2 | Temp: 600Â°C | Dwell: 12h

--- Target 4: LiVO2 ---
  Group 1: TRI-38
    Precursors: Li2CO3, V2O3 | Furnace: BF | Temp: 600Â°C | Dwell: 8h
  Group 2: TRI-82
    Precursors: Li2CO3, V2O3 | Furnace: TF-Ar | Temp: 400Â°C | Dwell: 12h

--- Target 5: NaV2O4 ---
  Group 1: TRI-181
    Precursors: Na2CO3, V2O5 | Furnace: BF | Temp: 500Â°C | Dwell: 12h

--- Target 6: NaVO2 ---
  Group 1: TRI-112
    Precursors: Na2CO3, V2O3 | Furnace: TF-Ar + H2 | Temp: 600Â°C | Dwell: 12h
  Group 2: TRI-85
    Precursors: Na2CO3, V2O5 | Furnace: TF-Ar | Temp: 400Â°C | Dwell: 12h

In [47]:
# Group by Preferred Source
grouped_by_source = merged_df.groupby('Preferred Source')

# Print sample names and their targets for each group
for source, group_df in grouped_by_source:
    samples = group_df[['Run Name in ALAB', 'Target']].dropna()

    print(f"\n=== {source.upper()} ({len(samples)} samples) ===")
    for _, row in samples.iterrows():
        print(f"  - {row['Run Name in ALAB']}  |  Target: {row['Target']}")

=== AIF INTERPRETATION (13 samples) ===
  - TRI-31  |  Target: CaV3O4
  - TRI-32  |  Target: CaV3O4
  - TRI-39  |  Target: LiV2O3
  - TRI-81  |  Target: LiVO2
  - TRI-94  |  Target: KVO2
  - TRI-104  |  Target: CaV2O3
  - TRI-106  |  Target: NaVO2
  - TRI-172  |  Target: MgVO3
  - TRI-184  |  Target: MgVO3
  - TRI-185  |  Target: MgV2O4
  - TRI-186  |  Target: MgV2O4
  - TRI-192  |  Target: CaRuO4
  - TRI-197  |  Target: CaVO2

=== BOTH (27 samples) ===
  - 11_CaVO2_900  |  Target: CaVO2
  - TRI-14  |  Target: CaV2O3
  - TRI-29  |  Target: CaV2O3
  - TRI-30  |  Target: CaV2O3
  - TRI-37  |  Target: LiVO2
  - TRI-41  |  Target: LiV3O4
  - TRI-43  |  Target: Li3VO4
  - TRI-44  |  Target: Li3VO4
  - TRI-62  |  Target: LiV2O3
  - TRI-63  |  Target: LiV3O4
  - TRI-64  |  Target: LiV3O4
  - TRI-77  |  Target: CaVO2
  - TRI-83  |  Target: KVO2
  - TRI-86  |  Target: NaVO2
  - TRI-88  |  Target: CaVO2
  - TRI-89  |  Target: CaV2O3
  - TRI-90  |  Target: CaV2O3
  - TRI-103  |  Target: CaVO2
  - TRI-111  |  Target: NaVO2
  - TRI-114  |  Target: LiVO2
  - TRI-131  |  Target: CaVO2
  - TRI-132  |  Target: CaV2O3
  - TRI-133  |  Target: CaV2O3
  - TRI-182  |  Target: NaVO3
  - TRI-187  |  Target: CaRuO4
  - TRI-190  |  Target: CaRuO4
  - TRI-191  |  Target: CaRuO4

=== DARA INTERPRETATION (17 samples) ===
  - TRI-15  |  Target: CaV3O4
  - TRI-27  |  Target: CaVO2
  - TRI-28  |  Target: CaVO2
  - TRI-78  |  Target: CaVO2
  - TRI-79  |  Target: CaV2O3
  - TRI-80  |  Target: CaV2O3
  - TRI-91  |  Target: CaVO2
  - TRI-92  |  Target: CaV2O3
  - TRI-99  |  Target: CaVO2
  - TRI-100  |  Target: CaVO2
  - TRI-101  |  Target: CaV2O3
  - TRI-102  |  Target: CaV2O3
  - TRI-105  |  Target: CaV2O3
  - TRI-130  |  Target: CaVO2
  - TRI-180  |  Target: CaRuO4
  - TRI-183  |  Target: MgVO3
  - TRI-194  |  Target: MgV2O4

=== NEITHER (9 samples) ===
  - TRI-38  |  Target: LiVO2
  - TRI-82  |  Target: LiVO2
  - TRI-84  |  Target: KVO2
  - TRI-85  |  Target: NaVO2
  - TRI-112  |  Target: NaVO2
  - TRI-113  |  Target: KVO2
  - TRI-126  |  Target: CaVO2
  - TRI-181  |  Target: NaV2O4
  - TRI-189  |  Target: CaRuO4

In [59]:
from collections import defaultdict

# STEP 1: Always include all 'neither'
reeval_samples = merged_df[merged_df['Preferred Source'] == 'neither'].copy()

# STEP 2: Build a diverse selection from the rest
diverse_samples = []
seen_groups = set()
# Normalize Preferred Source values: lowercase + strip whitespace
# Step 1: Normalize the preferred source values
merged_df['Preferred Source'] = merged_df['Preferred Source'].str.lower().str.strip()
merged_df['Preferred Source'] = merged_df['Preferred Source'].replace({
    'aif interpretation': 'aif',
    'dara interpretation': 'dara'
})

# Step 2: Define simplified and robust group columns
group_cols = ['Target', 'Precursor 1', 'Precursor 2', 'Furnace', 'Temperature (C)', 'Dwell Duration (h)']  # simplified for debugging

diverse_samples = []
seen_groups = set()

# Step 3: Loop through each interpretation source
for source in ['aif', 'dara', 'both']:
    subset = merged_df[merged_df['Preferred Source'] == source].copy()
    print(f"\nSOURCE: {source} | Subset size: {subset.shape[0]}")

    if subset.empty:
        continue

    # Fill missing values so groupby won't break
    subset[group_cols] = subset[group_cols].fillna("MISSING")

    grouped = subset.groupby(group_cols)

    for keys, group_df in grouped:
        print(f"Group keys: {keys} | Samples: {group_df['Run Name in ALAB'].tolist()}")

        target = group_df['Target'].iloc[0]
        synth_key = tuple(group_df[group_cols].iloc[0].values)
        group_id = (source, target, synth_key)

        if group_id not in seen_groups:
            seen_groups.add(group_id)
            diverse_samples.append(group_df.iloc[0])

# STEP 3: Combine both
reeval_df = pd.concat([reeval_samples] + [pd.DataFrame(diverse_samples)], ignore_index=True)

# Optional: Sort and view
reeval_df = reeval_df.sort_values(by=['Preferred Source', 'Target'])
print(reeval_df[['Run Name in ALAB', 'Target', 'Preferred Source']])

SOURCE: aif | Subset size: 13
Group keys: ('CaRuO4', 'CaCO3', 'RuO2', 'BF', 550, 24) | Samples: ['TRI-192']
Group keys: ('CaV2O3', 'CaCO3', 'V2O5', 'TF-Ar', 700, 12) | Samples: ['TRI-104']
Group keys: ('CaV3O4', 'CaCO3', 'V2O3', 'BF', 700, 8) | Samples: ['TRI-32']
Group keys: ('CaV3O4', 'CaCO3', 'V2O5', 'BF', 700, 8) | Samples: ['TRI-31']
Group keys: ('CaVO2', 'CaCO3', 'V2O5', 'TF-Ar+H2', 600, 12) | Samples: ['TRI-197']
Group keys: ('KVO2', 'K2CO3', 'V2O3', 'TF-Ar', 600, 12) | Samples: ['TRI-94']
Group keys: ('LiV2O3', 'Li2CO3', 'V2O5', 'BF', 600, 8) | Samples: ['TRI-39']
Group keys: ('LiVO2', 'Li2CO3', 'V2O5', 'TF-Ar', 400, 12) | Samples: ['TRI-81']
Group keys: ('MgV2O4', 'MgCO3', 'V2O3', 'BF', 500, 12) | Samples: ['TRI-186']
Group keys: ('MgV2O4', 'MgCO3', 'V2O5', 'BF', 500, 12) | Samples: ['TRI-185']
Group keys: ('MgVO3', 'MgCO3', 'V2O3', 'BF', 500, 12) | Samples: ['TRI-184']
Group keys: ('MgVO3', 'MgCO3', 'V2O5', 'BF', 600, 12) | Samples: ['TRI-172']
Group keys: ('NaVO2', 'Na2CO3', 'V2O5', 'TF-Ar', 700, 12) | Samples: ['TRI-106']

SOURCE: dara | Subset size: 17
Group keys: ('CaRuO4', 'CaCO3', 'RuO2', 'BF', 550, 72) | Samples: ['TRI-180']
Group keys: ('CaV2O3', 'CaCO3', 'V2O3', 'TF-Ar', 500, 12) | Samples: ['TRI-80']
Group keys: ('CaV2O3', 'CaCO3', 'V2O3', 'TF-Ar', 700, 12) | Samples: ['TRI-105']
Group keys: ('CaV2O3', 'CaCO3', 'V2O3', 'TF-Ar', 800, 12) | Samples: ['TRI-92']
Group keys: ('CaV2O3', 'CaCO3', 'V2O3', 'TF-Ar + H2', 700, 12) | Samples: ['TRI-102']
Group keys: ('CaV2O3', 'CaCO3', 'V2O5', 'TF-Ar', 500, 12) | Samples: ['TRI-79']
Group keys: ('CaV2O3', 'CaCO3', 'V2O5', 'TF-Ar + H2', 700, 12) | Samples: ['TRI-101']
Group keys: ('CaV3O4', 'CaCO3', 'V2O5', 'BF', 900, 8) | Samples: ['TRI-15']
Group keys: ('CaVO2', 'CaCO3', 'V2O3', 'BF', 700, 8) | Samples: ['TRI-28']
Group keys: ('CaVO2', 'CaCO3', 'V2O3', 'TF-Ar', 500, 12) | Samples: ['TRI-78']
Group keys: ('CaVO2', 'CaCO3', 'V2O3', 'TF-Ar', 800, 12) | Samples: ['TRI-91']
Group keys: ('CaVO2', 'CaCO3', 'V2O3', 'TF-Ar + H2', 700, 12) | Samples: ['TRI-100']
Group keys: ('CaVO2', 'CaCO3', 'V2O5', 'BF', 700, 8) | Samples: ['TRI-27']
Group keys: ('CaVO2', 'CaCO3', 'V2O5', 'TF-Ar + H2', 700, 12) | Samples: ['TRI-99']
Group keys: ('CaVO2', 'CaCO3', 'V2O5', 'TF-Ar + H2', 800, 12) | Samples: ['TRI-130']
Group keys: ('MgV2O4', 'MgCO3', 'V2O5', 'TF-Ar', 600, 12) | Samples: ['TRI-194']
Group keys: ('MgVO3', 'MgCO3', 'V2O5', 'BF', 500, 12) | Samples: ['TRI-183']

SOURCE: both | Subset size: 27
Group keys: ('CaRuO4', 'CaCO3', 'RuO2', 'BF', 550, 24) | Samples: ['TRI-190', 'TRI-191']
Group keys: ('CaRuO4', 'CaCO3', 'RuO2', 'BF', 1100, 8) | Samples: ['TRI-187']
Group keys: ('CaV2O3', 'CaCO3', 'V2O3', 'BF', 700, 8) | Samples: ['TRI-30']
Group keys: ('CaV2O3', 'CaCO3', 'V2O3', 'BF', 900, 8) | Samples: ['TRI-14']
Group keys: ('CaV2O3', 'CaCO3', 'V2O3', 'TF-Ar', 700, 12) | Samples: ['TRI-90']
Group keys: ('CaV2O3', 'CaCO3', 'V2O5', 'BF', 700, 8) | Samples: ['TRI-29']
Group keys: ('CaV2O3', 'CaCO3', 'V2O5', 'TF-Ar', 700, 12) | Samples: ['TRI-89']
Group keys: ('CaV2O3', 'CaCO3', 'V2O5', 'TF-Ar + H2', 800, 12) | Samples: ['TRI-132', 'TRI-133']
Group keys: ('CaVO2', 'CaCO3', 'V2O3', 'TF-Ar', 700, 12) | Samples: ['TRI-88']
Group keys: ('CaVO2', 'CaCO3', 'V2O5', 'BF', 900, 8) | Samples: ['11_CaVO2_900']
Group keys: ('CaVO2', 'CaCO3', 'V2O5', 'TF-Ar', 500, 12) | Samples: ['TRI-77']
Group keys: ('CaVO2', 'CaCO3', 'V2O5', 'TF-Ar', 700, 12) | Samples: ['TRI-103']
Group keys: ('CaVO2', 'CaCO3', 'V2O5', 'TF-Ar + H2', 800, 12) | Samples: ['TRI-131']
Group keys: ('KVO2', 'K2CO3', 'V2O5', 'TF-Ar', 400, 12) | Samples: ['TRI-83']
Group keys: ('Li3VO4', 'Li2CO3', 'V2O3', 'BF', 600, 8) | Samples: ['TRI-44']
Group keys: ('Li3VO4', 'Li2CO3', 'V2O5', 'BF', 600, 8) | Samples: ['TRI-43']
Group keys: ('LiV2O3', 'Li2CO3', 'V2O3', 'BF', 500, 8) | Samples: ['TRI-62']
Group keys: ('LiV3O4', 'Li2CO3', 'V2O3', 'BF', 500, 8) | Samples: ['TRI-64']
Group keys: ('LiV3O4', 'Li2CO3', 'V2O5', 'BF', 500, 8) | Samples: ['TRI-63']
Group keys: ('LiV3O4', 'Li2CO3', 'V2O5', 'BF', 600, 8) | Samples: ['TRI-41']
Group keys: ('LiVO2', 'Li2CO3', 'V2O5', 'BF', 600, 8) | Samples: ['TRI-37']
Group keys: ('LiVO2', 'Li2CO3', 'V2O5', 'TF-Ar + H2', 600, 12) | Samples: ['TRI-114']
Group keys: ('NaVO2', 'Na2CO3', 'V2O3', 'TF-Ar', 400, 12) | Samples: ['TRI-86']
Group keys: ('NaVO2', 'Na2CO3', 'V2O5', 'TF-Ar + H2', 600, 12) | Samples: ['TRI-111']
Group keys: ('NaVO3', 'Na2CO3', 'V2O5', 'BF', 500, 12) | Samples: ['TRI-182']
   Run Name in ALAB  Target Preferred Source
9           TRI-192  CaRuO4              aif
10          TRI-104  CaV2O3              aif
11           TRI-32  CaV3O4              aif
12           TRI-31  CaV3O4              aif
13          TRI-197   CaVO2              aif
..              ...     ...              ...
0            TRI-38   LiVO2          neither
1            TRI-82   LiVO2          neither
7           TRI-181  NaV2O4          neither
3            TRI-85   NaVO2          neither
4           TRI-112   NaVO2          neither

[64 rows x 3 columns]

In [51]:
print(merged_df['Preferred Source'].value_counts())

Preferred Source
both                   27
dara interpretation    17
aif interpretation     13
neither                 9
Name: count, dtype: int64

In [60]:
# Group reevaluation samples by preferred source and target
grouped = reeval_df.groupby(['Preferred Source', 'Target'])

for (source, target), group_df in grouped:
    run_names = group_df['Run Name in ALAB'].dropna().tolist()
    print(f"\n=== {source.upper()} | Target: {target} ({len(run_names)} samples) ===")
    for run in run_names:
        print(f"  - {run}")

=== AIF | Target: CaRuO4 (1 samples) ===
  - TRI-192

=== AIF | Target: CaV2O3 (1 samples) ===
  - TRI-104

=== AIF | Target: CaV3O4 (2 samples) ===
  - TRI-32
  - TRI-31

=== AIF | Target: CaVO2 (1 samples) ===
  - TRI-197

=== AIF | Target: KVO2 (1 samples) ===
  - TRI-94

=== AIF | Target: LiV2O3 (1 samples) ===
  - TRI-39

=== AIF | Target: LiVO2 (1 samples) ===
  - TRI-81

=== AIF | Target: MgV2O4 (2 samples) ===
  - TRI-186
  - TRI-185

=== AIF | Target: MgVO3 (2 samples) ===
  - TRI-184
  - TRI-172

=== AIF | Target: NaVO2 (1 samples) ===
  - TRI-106

=== BOTH | Target: CaRuO4 (2 samples) ===
  - TRI-190
  - TRI-187

=== BOTH | Target: CaV2O3 (6 samples) ===
  - TRI-30
  - TRI-14
  - TRI-90
  - TRI-29
  - TRI-89
  - TRI-132

=== BOTH | Target: CaVO2 (5 samples) ===
  - TRI-88
  - 11_CaVO2_900
  - TRI-77
  - TRI-103
  - TRI-131

=== BOTH | Target: KVO2 (1 samples) ===
  - TRI-83

=== BOTH | Target: Li3VO4 (2 samples) ===
  - TRI-44
  - TRI-43

=== BOTH | Target: LiV2O3 (1 samples) ===
  - TRI-62

=== BOTH | Target: LiV3O4 (3 samples) ===
  - TRI-64
  - TRI-63
  - TRI-41

=== BOTH | Target: LiVO2 (2 samples) ===
  - TRI-37
  - TRI-114

=== BOTH | Target: NaVO2 (2 samples) ===
  - TRI-86
  - TRI-111

=== BOTH | Target: NaVO3 (1 samples) ===
  - TRI-182

=== DARA | Target: CaRuO4 (1 samples) ===
  - TRI-180

=== DARA | Target: CaV2O3 (6 samples) ===
  - TRI-80
  - TRI-105
  - TRI-92
  - TRI-102
  - TRI-79
  - TRI-101

=== DARA | Target: CaV3O4 (1 samples) ===
  - TRI-15

=== DARA | Target: CaVO2 (7 samples) ===
  - TRI-28
  - TRI-78
  - TRI-91
  - TRI-100
  - TRI-27
  - TRI-99
  - TRI-130

=== DARA | Target: MgV2O4 (1 samples) ===
  - TRI-194

=== DARA | Target: MgVO3 (1 samples) ===
  - TRI-183

=== NEITHER | Target: CaRuO4 (1 samples) ===
  - TRI-189

=== NEITHER | Target: CaVO2 (1 samples) ===
  - TRI-126

=== NEITHER | Target: KVO2 (2 samples) ===
  - TRI-84
  - TRI-113

=== NEITHER | Target: LiVO2 (2 samples) ===
  - TRI-38
  - TRI-82

=== NEITHER | Target: NaV2O4 (1 samples) ===
  - TRI-181

=== NEITHER | Target: NaVO2 (2 samples) ===
  - TRI-85
  - TRI-112

In [61]:
from pymatgen.core import Composition

def remove_elements_from_composition(comp, elements_to_remove):
    composition = Composition(comp)
    filtered = {el: amt for el, amt in composition.get_el_amt_dict().items() if el not in elements_to_remove}
    return Composition(filtered)

def normalize_composition(comp):
    return comp.fractional_composition

def calculate_composition_balance_score_refined(target_comp, output_comp):
    """
    Compare two compositions and compute a similarity score based on element-wise differences.
    """
    elements = set(target_comp.elements).union(output_comp.keys())
    total_diff = 0
    for el in elements:
        target_val = target_comp.get(el, 0)
        output_val = output_comp.get(el, 0)
        total_diff += abs(target_val - output_val)
    score = 1 - total_diff / 2  # Max total diff is 2
    return round(score, 3)

def calculate_chemical_factors_from_inputs(target_formula, interpretations):
    """
    Compute composition balance scores for interpretations using target formula and interpretation dictionary.
    
    Parameters:
        target_formula (str): The target compound formula (e.g., 'NiFe2O4').
        interpretations (dict): Dictionary with interpretations, each containing:
            - "phases": list of phase formulas
            - "weight_fraction": list of corresponding weight fractions
        
    Returns:
        dict: Updated interpretations with added 'balance_score'.
    """
    print("\nðŸŽ¯ Target Composition:", target_formula)
    elements_to_remove = ["O", "C", "N", "H"]

    # Normalize target composition
    target_composition = Composition(target_formula)
    filtered_target = {el: amt for el, amt in target_composition.get_el_amt_dict().items() if el not in elements_to_remove}
    normalized_target = Composition(filtered_target).fractional_composition
    print("ðŸ§ª Normalized Target Composition:", normalized_target)

    for interpretation_name, interpretation in interpretations.items():
        print(f"\nðŸ” Processing Interpretation: {interpretation_name}")
        phases = interpretation["phases"]
        weights = interpretation["weight_fraction"]

        combined_composition = {}
        for phase, weight in zip(phases, weights):
            try:
                comp = Composition(phase)
                filtered = {el: amt for el, amt in comp.get_el_amt_dict().items() if el not in elements_to_remove}
                norm_comp = Composition(filtered).fractional_composition
                for el, amt in norm_comp.items():
                    combined_composition[el] = combined_composition.get(el, 0) + amt * (weight / 100)
            except Exception as e:
                print(f"âŒ Error processing {phase}: {e}")

        total = sum(combined_composition.values())
        normalized_output = {el: round(amt / total, 3) for el, amt in combined_composition.items()}
        print("ðŸ“¦ Normalized Output Composition:", normalized_output)

        score = calculate_composition_balance_score_refined(normalized_target, normalized_output)
        interpretation["balance_score"] = score
        print("âœ… Balance Score:", score)

    return interpretations

In [62]:
target = "NiFe2O4"

interpretations = {
    "Case 1": {
        "phases": ["NiFe2O4", "MgFeAlO4", "MgFe2O4", "Fe2SiO4"],
        "weight_fraction": [20, 2, 30, 48]
    },
    "Case 2": {
        "phases": ["NiFe2O4", "NiO"],
        "weight_fraction": [90, 10]
    },
    "Case 3": {
        "phases": ["NiFe2O4", "Fe2O3", "NiO"],
        "weight_fraction": [70, 20, 10]
    }
}

results = calculate_chemical_factors_from_inputs(target, interpretations)

ðŸŽ¯ Target Composition: NiFe2O4
ðŸ§ª Normalized Target Composition: Ni0.33333333 Fe0.66666667

ðŸ” Processing Interpretation: Case 1
ðŸ“¦ Normalized Output Composition: {Element Ni: 0.067, Element Fe: 0.66, Element Mg: 0.107, Element Al: 0.007, Element Si: 0.16}
âœ… Balance Score: 0.727

ðŸ” Processing Interpretation: Case 2
ðŸ“¦ Normalized Output Composition: {Element Ni: 0.4, Element Fe: 0.6}
âœ… Balance Score: 0.933

ðŸ” Processing Interpretation: Case 3
ðŸ“¦ Normalized Output Composition: {Element Ni: 0.333, Element Fe: 0.667}
âœ… Balance Score: 1.0

In [69]:
# example 6
target = "Ti3O5"

interpretations = {
    "Case 1": {
        "phases": ["Ti3O5", "Ti3O5"],
        "weight_fraction": [98, 2]
    },
    "Case 2": {
        "phases": ["TiO", "TiC","Ti3O5"],
        "weight_fraction": [20, 35, 45]
    },
    "Case 3": {
        "phases": ["Ti3O5", "Ti4O7"],
        "weight_fraction": [70, 30]
    }
}

results = calculate_chemical_factors_from_inputs(target, interpretations)

ðŸŽ¯ Target Composition: Ti3O5
ðŸ§ª Normalized Target Composition: Ti1

ðŸ” Processing Interpretation: Case 1
ðŸ“¦ Normalized Output Composition: {Element Ti: 1.0}
âœ… Balance Score: 1.0

ðŸ” Processing Interpretation: Case 2
ðŸ“¦ Normalized Output Composition: {Element Ti: 1.0}
âœ… Balance Score: 1.0

ðŸ” Processing Interpretation: Case 3
ðŸ“¦ Normalized Output Composition: {Element Ti: 1.0}
âœ… Balance Score: 1.0

In [68]:
#Example 5
target = "MgFe2O4"

interpretations = {
    "Case 1": {
        "phases": ["MgFe2O4", "Fe2O3", "Fe"],
        "weight_fraction": [80, 15,5]
    },
    "Case 2": {
        "phases": ["MgFe2O4", "Fe2O3", "MgO","Fe"],
        "weight_fraction": [85, 5, 5,5]
    },
    "Case 3": {
        "phases": ["MgFe2O4", "Fe"],
        "weight_fraction": [98, 2]
    }
}

results = calculate_chemical_factors_from_inputs(target, interpretations)

ðŸŽ¯ Target Composition: MgFe2O4
ðŸ§ª Normalized Target Composition: Mg0.33333333 Fe0.66666667

ðŸ” Processing Interpretation: Case 1
ðŸ“¦ Normalized Output Composition: {Element Mg: 0.267, Element Fe: 0.733}
âœ… Balance Score: 0.934

ðŸ” Processing Interpretation: Case 2
ðŸ“¦ Normalized Output Composition: {Element Mg: 0.333, Element Fe: 0.667}
âœ… Balance Score: 1.0

ðŸ” Processing Interpretation: Case 3
ðŸ“¦ Normalized Output Composition: {Element Mg: 0.327, Element Fe: 0.673}
âœ… Balance Score: 0.994

In [65]:
#Example 2 
target = "NaMnO2"

interpretations = {
    "Case 1": {
        "phases": ["NaMnO2", "Mn2O3"],
        "weight_fraction": [80, 20]
    },
    "Case 2": {
        "phases": ["NaMnO2", "Mn2O3"],
        "weight_fraction": [90, 10]
    },
    "Case 3": {
        "phases": ["NaMnO2", "Na4Mn9O18"],
        "weight_fraction": [70, 30]
    }
}

results = calculate_chemical_factors_from_inputs(target, interpretations)

ðŸŽ¯ Target Composition: NaMnO2
ðŸ§ª Normalized Target Composition: Na0.5 Mn0.5

ðŸ” Processing Interpretation: Case 1
ðŸ“¦ Normalized Output Composition: {Element Na: 0.4, Element Mn: 0.6}
âœ… Balance Score: 0.9

ðŸ” Processing Interpretation: Case 2
ðŸ“¦ Normalized Output Composition: {Element Na: 0.45, Element Mn: 0.55}
âœ… Balance Score: 0.95

ðŸ” Processing Interpretation: Case 3
ðŸ“¦ Normalized Output Composition: {Element Na: 0.442, Element Mn: 0.558}
âœ… Balance Score: 0.942

In [66]:
#Example 1
target = "ZrTiO4"

interpretations = {
    "Case 1": {
        "phases": ["ZrTiO4", "ZrO2","TiO2","Al2TiO5"],
        "weight_fraction": [80, 5,6,9]
    },
    "Case 2": {
        "phases": ["ZrTiO4", "ZrO2"],
        "weight_fraction": [80, 20]
    },
    "Case 3": {
        "phases": ["ZrTi2O6", "TiO2"],
        "weight_fraction": [85, 15]
    }
}

results = calculate_chemical_factors_from_inputs(target, interpretations)

ðŸŽ¯ Target Composition: ZrTiO4
ðŸ§ª Normalized Target Composition: Zr0.5 Ti0.5

ðŸ” Processing Interpretation: Case 1
ðŸ“¦ Normalized Output Composition: {Element Zr: 0.45, Element Ti: 0.49, Element Al: 0.06}
âœ… Balance Score: 0.94

ðŸ” Processing Interpretation: Case 2
ðŸ“¦ Normalized Output Composition: {Element Zr: 0.6, Element Ti: 0.4}
âœ… Balance Score: 0.9

ðŸ” Processing Interpretation: Case 3
ðŸ“¦ Normalized Output Composition: {Element Zr: 0.283, Element Ti: 0.717}
âœ… Balance Score: 0.783